process.container = 'quay.io/nextflow/bash'
awsbatch {
        process {
            executor = 'awsbatch'
            queue = 'TowerForge-6g09psupVMAVL7kA1OSfda_spot'
        }
        aws {
            region = 'us-east-1'
        }
        
        workDir = 's3://fl89inc-nf-tower/scratch/openfold/'

        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        aws.batch.volumes = ['/scratch/fusion:/tmp', '/efs']
    }
